.months-container {
      width: 100%;
      margin: 0 auto;
    }
    
    .month-item {
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
    }
    
    .month-header {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    
    .arrow {
      margin-right: 10px;
      transition: transform 0.2s;
    }
    
    .arrow.right::before {
      content: '▶';
    }
    
    .arrow.down::before {
      content: '▼';
    }

    .month-text:hover {
      color: #7c9176;
    }
    
    .month-details {
      /* background-color: #758175; */
    }

    .month-title {
      font-weight: normal; /* Default font weight */
    }
    
    .month-title.bold {
      font-weight: bold; /* Bold when expanded */
    }
    